/*tag selectors */
/* div{
  background-color:#f0ebcc ;
} */
body {
  margin: 0;
  background-color: #E4FBFF;
  text-align: center;
  font-family: arial, Helvetica Neue, Helvetica, sans-serif;
}

hr{
  background-color: white;
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
img{
  height: 170px;
}

h1{
  margin-top:0;
  color: #b2b8a3;
  font-family: 'Sacramento', cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #b2b8a3;
  font-family: 'Montserrat',sans-serif;
}

/*Class Selectors*/
.title{
  height:100000000px;
}

.top-container{
  background-color:#f0ebcc ;
  position: relative;
  padding-top: 100px;
}

.middle-container{

}

.bottom-container{
} 

.pro{
  text-decoration: underline;
}


.top-cloud{
  position: absolute;
  right: 200px;
  top: 50px;

}

.bottom-cloud{
  position:absolute;
  left: 200px;
  bottom: 300px
}
/**ID Selectors*/
